* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-bottom: 50px;
    background-color:darkblue;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    color: lightgrey;
    padding: 20px;
}

.current {
    border: 4px;
    border-color: darkblue;
    border-style: double;
    padding: 19px;
    background-color: white;
    color: darkblue;
}

.links {
    border: 4px;
    border-color: white;
    border-style: double;
    padding: 19px;
}

.snapshot {
    margin-top: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

.bio {
    width: 35%;
    margin: 20px;
    text-align: center;
}

.bioname {
    font-size:50px;
}

.seat {
    font-size: 30px;
    color: coral;
}
.bioparagraph {
    width: 250px;
    text-align: center;
    margin: auto;
}

.biopic {
    width: 35%;
    margin: 20px;
}

.donate_wrapper {
    display: flex;
    justify-content: center;
}

.donate {
    text-align: center;
    width: 250px;
    height: 60px;
    background-color: coral;
    color:darkblue;
    
}

.donate_button {
    padding:20px;  
    text-decoration: none;  
}

a {
    text-decoration: none;
}

.contact_form {
    display:flex;
    justify-content: center;
}

form {
    padding: 2em;
    background-color: coral;
    width: 75%;
    
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    text-align: right;
}

::placeholder {
    font-size: 20px;
}

input, textarea {
    width: 600px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    /* height: 5em; */
}
.form_title {
    margin: auto;
    text-align: center;
}

.form_name {
    display: flex;
    justify-content: center;
}

.form_email {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    margin-left: .5em;
}