* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 50px;
    background-color:blue;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    color: lightgrey;
    padding: 20px;
}

.snapshot {
    margin-top: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

.bio {
    width: 35%;
    margin: 20px;
    text-align: center;
}

.biopic {
    width: 35%;
    margin: 20px;
}

.donate {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 250px;
    height: 60px;
    background-color: coral;
    color:darkblue;
    
}

.donate_button {
    padding:20px;  
    text-decoration: none;  
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: center;
}

