* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 50px;
    background-color:blue;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    color: lightgrey;
    padding: 20px;
}

.snapshot {
    margin-top: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

.bio {
    width: 35%;
    margin: 20px;
    text-align: center;
}

.biopic {
    width: 35%;
    margin: 20px;
}

.donate_wrapper {
    display: flex;
    justify-content: center;
}

.donate {
    text-align: center;
    width: 250px;
    height: 60px;
    background-color: coral;
    color:darkblue;
    
}

.donate_button {
    padding:20px;  
    text-decoration: none;  
}

a {
    text-decoration: none;
}

.contact_form {
    display:flex;
    justify-content: center;
}

form {
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}